body {
    background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: cover;
        text-decoration: none;
        }

        h1{
            font-family: 'Dosis', sans-serif;
        }
    
        h2{
            font-family: 'Dosis', sans-serif;
        }
    
    
    
        h4{
            font-family: 'Dosis', sans-serif;
            text-decoration: none;
        }
    
        h5{
            font-family: 'Dosis', sans-serif;
        }
    
        p{
            font-family: 'Dosis', sans-serif;
        }

        splashsmi {
            color: red;
        }
