@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@300&display=swap');
h1{
    font-family: 'nunito', sans-serif;
}

h2{
    font-family: 'nunito', sans-serif;
}

a{
    font-family: 'nunito', sans-serif;
    font-size: 27px;
}


h4{
    font-family: 'nunito', sans-serif;
    text-decoration: none;
    margin: 370px;
}

h5{
    font-family: 'nunito', sans-serif;
}

p{
    font-family: 'nunito', sans-serif;
}





/* NAV BAR + HAMBURGER NAV BAR                            -------------------------*/
.SplashLogo {

    color: white;
      transition: color 1s;
      font-size: 30px;
  }
  
  
  .SplashLogo:hover {
    color: red;
  }
  
  
  
  :root {
    --primary-color: #4c6ca0;
    --secondary-color: #3b5998;
  }
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main Styling */
  body {
  
    line-height: 1.6;
   
  }
  
  p {
    margin: 10px 0;
  }
  
  i {
    display: inline;
  }
  
  ul {
    list-style: none;
    
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  
  
  /* Navbar Styling */
  .navbar {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #24262b;
    position: fixed;
    top: 0;
    padding: 1.25rem;
    box-shadow: 0px 5px 20px black;
  }
  
  .navbar .logo {
    padding: 1.5rem;
    font-size: 2rem;
  
  }
  
  .nvbar .logo a {
    tranition: color 0.4s ease-in-out;
  }
  
  .nabar .logo a:hover {
    color: var(--secondary-color);
  }
  
  .navbar .nav-menu {
    transition: 0.4s all ease;
    display: flex;
  }
  
  .nav-menu .nav-item a {
    display: inline-block;
    padding: 1rem 1.4rem 1rem 1rem;
    width: 100%;
    
  }
  
  .nav-menu .nav-item a:hover {
    
    color: #cdcdcd;
    transition: 0.4s all ease;
  }
  
  
  
  
  
  
  
  li {          /* jak se napojit dynmapa clenove */
    
    display: inline-block;
    position: relative;
    color: white;
    cursor: pointer;
    transition: 0.4s all ease;
    gap: 0 35px; -----------
  
  
  
  
  
  }
  
  li:hover{       /* jak se napojit.. animace */
    color: #cdcdcd;
    transition: 0.4s all ease;
    }
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  
  /* Responsive */
  @media only screen and (max-width: 768px) {
    .nav-menu {
      position: fixed;
      /* 
  
      */
      right: -100%;
      top: 0rem;
      flex-direction: column;
      /* This controls the width of the navbar container*/
      width: 50%;
      /* This controls the height of the navbar container */
      height: 100%;
      text-align: right;
      transition: 0.3s;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      /* This controls the background color of the navbar container*/
      background-color: #1f2022;
      
    }
  
    .nav-menu.active {
      right: 0;
    }
  
    .nav-menu li:first-child {
       margin-top: 4.5rem;
       border-top: 1px solid #ccc;
    }
  
    .nav-item {
      width: 100%;
      border-bottom: 1px solid #ccc;
     
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  /* KONEC NAV BAR + HAMBURGER NAV BAR -------------------*/



body {
    background-image: url("image3.png");  background-repeat: no-repeat;
    background-attachment: fixed;
    
      background-position: 0px -350px;
        background-size: cover;
        text-decoration: none;
        color: white;
        }

body {
    
    height: 100vh;
    display: flex;
    overflow: hidden;
}


/* Vytvoření overlay s efektem rozmazání a ztmavení */
body::before {
    content: "";
    position: fixed; /* Fixní pozice, aby pokrylo celou obrazovku */
    background-position: 0px -350px;
    width: 100%;
    height: 100%;
    background-image: url("image3.png"); /* Obrázek pozadí */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(95%) blur(1px); /* Ztmavení a rozmazání */
    z-index: -5; /* Ujistěte se, že overlay je za obsahem */
    pointer-events: none; /* Zabrání interakcím s vrstvou */
}
.spinner{
    
    width: 10em;
    height: 10em;
    border-top: 1em solid #0077ff;
    border-right: 1em solid transparent;
    border-radius: 50%;
    margin-left: -700px;
    margin: 200px 0px 0px -700px;
    margin: ato;
    animation: spinner 2s linear infinite;
}

.circle{
    
    width: 1em;
    height: 1em;
    background-color: #0077ff;
    border-radius: 50%;
    margin-left: 8.5em;
    margin-top: 0.5em;
}

@keyframes  spinner {
    100% {
        transform: rotate(360deg);
        transition: 0.4s all ease;
    }
}
  
  
   